--extra-index-url https://download.pytorch.org/whl/cpu
flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-jwt-extended
flask-cors
pillow
torch
torchvision
ultralytics
python-multipart
gunicorn
psycopg2-binary
opencv-python-headless
